<!doctype html>
<html lang="en">
  <head>
    <meta charset="{{ config['server']['encoding'] }}">
    <title>{% block title %}{{ config['metadata']['identification']['title'] }} -{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="language" content="{{ config['server']['language'] }}">
    <meta name="description" content="{{ config['metadata']['identification']['title'] }}">
    <meta name="keywords" content="{{ config['metadata']['identification']['keywords']|join(',') }}">
    <link rel="shortcut icon" href="{{ config['server']['url'] }}/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/mini.css@3.0.1/dist/mini-default.min.css">
    <link rel="stylesheet" href="{{ config['server']['url'] }}/static/css/default.css">

    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"> -->

    <!-- START - Experimental Bootstrap 4 -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="site-assets/x-bootstrap-4.css" /> -->
    <!-- END - Experimental Bootstrap 4 -->
    
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://cdn.rawgit.com/ktquez/vue-head/v2.2.0/vue-head.js"></script>

    {% for link in data['links'] %}
      <link rel="{{ link['rel'] }}" type="{{ link['type'] }}" title="{{ link['title'] }}" href="{{ link['href'] }}"/>
      {% if (link['rel']=="self" and link['type']=="text/html") %}
      <link rel="canonical" href="{{ link['href'].split('?')[0] }}" />
      {% endif %}
    {% endfor %}
    {% block extrahead %}
    {% endblock %}
  </head>
  <body>
    <header class="sticky row">
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <a href="{{ config['server']['url'] }}" class="logo" role="button">
          <img src="{{ config['server']['url'] }}/static/img/logo.png" title="{{ config['metadata']['identification']['title'] }}" style="height:40px;vertical-align: middle;" /></a>
        <!--
          Add additional menu items here
          <a href="https://pygeoapi.io" role="button" class="button">About</a>
        -->
        <a href="mailto:{{ config['metadata']['contact']['email'] }}" role="button" class="button" style="float:right">Contact</a>
      </div>
    </header>
    <div class="sticky row crumbs">
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        {% block crumbs %}
        <a href="{{ config['server']['url'] }}">Home</a>
        {% endblock %}
        <span style="float:right">
          <a href="{{ data['links'] | map(rel='self') | attr('href') }}?f=json">JSON</a>
          <a href="{{ data['links'] | map(rel='self') | attr('href') }}?f=jsonld">JSON-LD</a>
        </span>
      </div>
    </div>
    <main>
    <div id="vm" class="container">
      <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
          <br/>
          {% block body %}
          {% endblock %}
        </div>
      </div>
    </div>
    </main>
    <footer class="sticky">Powered by <a title="pygeoapi" href="https://pygeoapi.io"><img src="{{ config['server']['url'] }}/static/img/pygeoapi.png" title="pygeoapi logo" style="height:24px;vertical-align: middle;"/></a> {{ version }}</footer>
    <script>
      const vm = new Vue({
        el: '#vm',
        delimiters: ['[[', ']]'],
        head: {
          script: function () {
            return [
              { t: 'application/ld+json', i: this.jsonld, id: 'page-jsonjd' },
            ]
          }
        },
        data: function () {
          return {
            path: window.location.protocol + "//" + window.location.host + window.location.pathname + "?f=jsonld",
            jsonld: '{ "@context": "https://schema.org/docs/jsonldcontext.jsonld", "@type": "DataCatalog" }'
          }
        },
        created: async function () {
          // Requests and embeds JSON-LD representation of current page
          const gResponse = await fetch(this.path);
          // console.log(gResponse);
          this.jsonld = await gResponse.text();
          // console.log(this.jsonld);
          this.$emit('updateHead');
        }
      })
    </script>    
    {% block extrafoot %}
    {% endblock %}
  </body>
</html>
