.flat {
    border: 0px;
}

.crumbs {
    background-color:rgb(230, 230, 230);
    padding: 6px;
}

.crumbs a {
    padding: 0px 6px;
    color:black;
/*    text-transform: capitalize;*/
}

#items-map, #collection-map {
    width: 100%;
    height: 400px;
}

footer.sticky {
    position: fixed;
    width: 100%;
}

table:not(.horizontal) {
    max-height: none;
}

mark.successful {
  background-color: green;
}

mark.accepted {
  background-color: default;
}

mark.failed {
  background-color: red;
}

mark.running {
  background-color: orange;
}
